@import "./base.css";

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 2rem;

  font-weight: normal;
}

body {
  background-color: var(--vt-c-black);
  color: var(--vt-c-white);
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

/* upload component */
.upload {
  background: rgba(236, 236, 236, 0.1);
  border-radius: 4px;
  padding: 20px 40px 30px;
  text-align: initial;
}

.upload__title {
  margin-bottom: 10px;
  font-size: 17px;
  font-weight: 900;
}
.upload__description {
  margin-bottom: 12px;
}
@media (hover: hover) {
  a:not(.no-hover):hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  /* body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  } */
}
